name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Configure test network interfaces
      run: |
        sudo ip addr add 192.168.0.6/24 dev eth0
        sudo ip addr add 192.168.0.7/24 dev eth0
        sudo ip addr add 192.168.0.8/24 dev eth0
        sudo ip link set dev lo up
    # - name: Run tests
    #   run: cargo test --lib --verbose --no-run
    - name: Run integration tests
      run: cargo test --verbose -- --include-ignored --nocapture --test-threads=1 --no-fail-fast
    - name: Run doc tests
      run: cargo test --doc --verbose
    # - name: Run ignored tests
    #   run: cargo test --verbose -- --ignored --test-threads=1 --no-fail-fast

  test-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: List Network Adapters
      run: Get-NetAdapter | Format-List Name, InterfaceIndex, Status
      shell: powershell
    - name: Store Ethernet Adapters
      shell: powershell
      run: $eth = Get-NetAdapter | Where {$_.Name -like "Eth*"} | select -first 1
    - name: Configure test network interfaces
      shell: powershell
      run: |
        New-NetIPAddress -InterfaceAlias $eth.Name -IPAddress "192.168.0.6" -PrefixLength 24
        New-NetIPAddress -InterfaceAlias $eth.Name -IPAddress "192.168.0.7" -PrefixLength 24
        New-NetIPAddress -InterfaceAlias $eth.Name -IPAddress "192.168.0.8" -PrefixLength 24

    - name: Run integration tests
      run: cargo test --verbose -- --include-ignored --nocapture --test-threads=1 --no-fail-fast
    - name: Run doc tests
      run: cargo test --doc --verbose
