name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Configure test network interfaces
      run: |
        sudo ip addr add 192.168.0.6/24 dev eth0
        sudo ip addr add 192.168.0.7/24 dev eth0
        sudo ip addr add 192.168.0.8/24 dev eth0
        sudo ip link set dev lo up
    # - name: Run tests
    #   run: cargo test --lib --verbose --no-run
    - name: Run integration tests
      run: cargo test --test "*" --verbose -- --nocapture --test-threads=1
    - name: Run doc tests
      run: cargo test --doc --verbose
    - name: Run ipv4 tests
      run: cargo test ipv4 --verbose -- --ignored --test-threads=1 --nocapture

  test-windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker
      uses: docker/setup-buildx-action@v3
    
    - name: Build test container
      run: |
        cd docker-ipv4-test
        docker build -t ipv4-test .
    
    - name: Run tests in container
      run: |
        docker run --rm `
          --network host `
          --cap-add NET_ADMIN `
          --cap-add NET_RAW `
          -e IP_ADDRESS_1=192.168.0.6 `
          -e IP_ADDRESS_2=192.168.0.7 `
          -e IP_ADDRESS_3=192.168.0.8 `
          -e PREFIX_LENGTH=24 `
          ipv4-test
