name: windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    # - name: Run tests
    #   run: cargo test --lib --verbose --no-run
    - name: Run integration tests
      run: |
        cargo test --lib --no-run
        cargo test --test "*" -- --nocapture --test-threads=1
        cargo test --doc

  test-windows-ipv4:
    runs-on: windows-2022
    
    steps:
    - uses: actions/checkout@v4

    - name: Build test container
      shell: powershell
      run: docker build --file docker-ipv4-test/Dockerfile --isolation=hyperv -t ipv4-test . #|
    # cd docker-ipv4-test
    #    docker build --file docker-ipv4-test/Dockerfile --isolation=hyperv -t ipv4-test .
    
    - name: Run tests in container
      shell: powershell
      run: |
        docker run --rm `
          --isolation=hyperv `
          -e IP_ADDRESS_1=192.168.0.6 `
          -e IP_ADDRESS_2=192.168.0.7 `
          -e IP_ADDRESS_3=192.168.0.8 `
          -e PREFIX_LENGTH=24 `
          ipv4-test